@import "tailwindcss";

/* Nossas classes de animação */
.fade-in-up {
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 0.6s ease-out,
    transform 0.6s ease-out;
}

.fade-in-up.is-visible {
  opacity: 1;
  transform: translateY(0);
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #504c24;
  }
}

.animate-typing {
  overflow: hidden;
  border-right: 0.05em solid #504c24;
  white-space: nowrap;
  animation:
    typing 2s steps(12),
    blink-caret 0.75s step-end infinite;
}

html {
  scroll-behavior: smooth;
}
